.btn{
  background-color: #004bad;
  color: white;
}

.list-group{
  border: 1px solid #004bad44;
}

.list-group-item{
  border: 1px solid #004bad44;
}

img{
  width: 100%;
}

.foto{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  border: 1px solid #0060df;
}

.linea-verticale{
  width: 2px;
  height: 180px;
  background-color: rgb(206, 206, 206);
}
