.list-group{
  border: 1px solid #004bad44;
}

.list-group-item{
  border: 1px solid #004bad44;
}

.btn{
  background-color: #004bad;
  color: white;
}

.btn-success{
  background-color: #00a83e;
}

.btn-danger{
  background-color: red;
}

.modal-header, .modal-body, .modal-footer{
  background-color: #004bad;
}

.cerchio{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #74AFFF;
}

.fa-check{
  font-size: 80px;
}

.input{
  width: 65%;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  padding-left: 10px;
}
